<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <br>
    <h3>Bangalore vs Chennai</h3>
    <br>
    <h3>Match Simulation</h3>
    <br>
    <%= link_to "Simulate Match", sim_match_path, class: "btn btn-primary"  %>
  </div>
</div>